/* Tailwind layer */
@tailwind base;
@tailwind components;

/* Custom layer */
body {
  @apply antialiased text-slate-700 dark:text-slate-200 bg-slate-100 dark:bg-slate-900;
}

/* @media (min-width: 640px) {
  .custom-container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .custom-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .custom-container {
    max-width: 1024px;
  }
} */
@media (min-width: 1280px) {
  .container {
    max-width: 1110px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1110px;
  }
}

.bg-custom-grd {
  background: linear-gradient(
    40deg,
    #155263 9%,
    #155263 43%,
    #ff6f3c calc(43% + 1px),
    #ff6f3c 52%,
    #ff9a3c calc(52% + 1px),
    #ff9a3c 80%,
    #ffc93c calc(80% + 1px),
    #ffc93c 100%
  );
}

@tailwind utilities;
